* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: #0A1A33;
}

#header h1 {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: midnightblue;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0;
}

#header .nav-list ul a {
  font-size:2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

#header .cta {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size:2rem;
  margin:0;
  padding-left:0;
  color: 	#ff7f50;
  border: 1px solid	#ff7f50;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
  background-color: 	#ff7f50;
}

@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.5rem;
    padding:10px 20px;
  }

  #header .nav-list ul a:after {
    display: none;
  }
}

#hero .hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #0a1a33, #0e1f39, #13243f, #172945, #1b2e4b);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}


  
#hero h1{
    font-size:4rem;
    font-weight: bold;
    color:white;
  }
  
#hero h2{
    font-size:3rem;
    font-weight: bold;
    line-height: 6rem;
    color:#00ffff;
  }

#hero .cta {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ff7f50;
  font-size: 13px;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  width: 150px;
  text-align: center;
  text-transform: none;
  border: 1px solid #ff7f50;
  transition: 0.3s ease;
  margin-bottom: 5px;
}

#hero .cta:hover {
  color: white;
  background-color: #ff7f50;
}


#partner h3{
    font-size:2.5rem;
    font-weight: bold;
    color:#00ffff;
  }
  
#partner h4{
    font-size:1.8rem;
    font-weight: bold;
    line-height: 4rem;
    color:gray;
  }
  
#partner .partner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
  } 

#partner .partner-image{
     display:grid;
     grid-gap:5px;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     border-right:1px solid lightgray;
     margin:10 0;
     padding:2%;
  }

#third .third {
  display: flex;
  flex-direction: row;
  height: 80vh;
  align-items: center;
  font-weight: bold;
  text-align: center;
  background-color: #181625;
  padding: 100px 30px;
  min-width:1500px;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  
}

#third .col-left {
  margin-top: 10px;
  text-align: justify;
  width: 1000px;
  height: 400px;
  font-size: 2.5rem;
  color: #66727c;
}
#third .col-left h1{
  color:#ff7f50;
  margin-bottom: 20px;
}

#third .col-left p {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: left;
  text-align: left;
  font-size: 1.5rem;
  line-height: 4rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  color:white;
}

#third .col-left .cta {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color:#ff7f50;
  color: white;
  font-size: 13px;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  width: 150px;
  text-align: center;
  text-transform: none;
  border: 1px solid #ff7f50;
  transition: 0.3s ease;
  margin-bottom: 5px;
}

#third .col-left .cta:hover {
  color: white;
  background-color: red;
}
#third .col-right{
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
  width:360px;
  height:450px;
  margin-bottom:500px;
}

#third .col-right img{
  position:relative;
  border:10px solid #181625;
}


#forth .forth {
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #29374E;
}
  
#forth .forth-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:2.5rem;
  color:#00ffff;
}

#forth .forth-items {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color:white;
}

  #forth .forth-item{
    font-size:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 50px;
    margin: -50px auto;
    width: 400px;
    line-height: 4rem;
  }
  
#fifth .fifth {
  height: 50vh;
  align-items: left;
  font-weight: bold;
  text-align: left;
  background-color: #4A576C;

}
  
#fifth .fifth-top{
  margin-top: 10px;
  text-align: justify;
  width: 1300px;
  height: 400px;
  font-size: 2rem;
  color: #ff7f50;
  }

#fifth p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 4rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  width: 1300px;
  margin: 0 auto;
  color:white;
}


  #sixth .six{
    flex-direction:row;
    text-align: center;
    min-width: 1500px;
    margin: 0 auto;
    padding: 100px 20px;
    background-color: #4A576C;
    height: 80vh;
  }
  
  #sixth .col-left{
    width: 500px;
    height: 360px;
  }
  
#sixth .col-right{
   width: 500px;
}
  
  #sixth .col-right h2{
   font-size: 3rem;
   font-weight: 400px;
   color: #00ffff;
   margin-bottom: 30px;
   text-transform: uppercase;
   text-align: left;
   line-height: 2.5rem;
  }
  
  #sixth .col-right p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  width: 610px;
  margin: 0 auto;
  text-align: left;
  color:white;
}
  
  
  #seventh .seventh{
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 1500px;
    margin: 0 auto;
    padding: 100px 20px;
    background-color: #181625;
    height: 100vh;
  }
  
  
 #seventh .seventh-left{
  height: 80vh;
  align-items: left;
  font-weight: bold;
  text-align: left;
 }
  
 #seventh .seventh-right{
    width: 900px;
    height: 360px;
  } 

  #seventh .seventh-title{
    margin-bottom: 15px;
    padding-bottom:15px;
  }

  #seventh h2{
   font-size: 2.5rem;
   color: #00ffff;
   margin-bottom: 30px;
   text-transform: uppercase;
   text-align: left;
   line-height: 2.5rem;
  }

  #seventh .side-bar{
    flex-basis: 80%;
    display: flex;
    align-items: felx-start;
    justify-content: center;
    flex-direction: column;
    padding:25px;
    border-radius: 10px;
    border: 4px solid #29374E;
    margin: 15px 5px;
    color:white;
    background-color:#29374E ;
    border-left-color:#00ffff;
  }
  #seventh .side-bar p{
    font-size:1.3rem;
    line-height: 3rem;
  }

  #seventh .side-bar h4{
    font-size:2rem;
    line-height: 3rem;
  }
  #seventh .side-bar .side-bar-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    margin-top:-80px;
    padding-top:40px;
    padding-bottom:20px;
    padding-left:300px;
    font-size:1.5rem;
  }

  #seventh .side-bar .side-bar-bottom .cta{
     color:#00ffff;
  }
  
  #seventh .side-bar-1 .side-bar-bottom .cta-1{
    color:#ff7f50;
  }

  #seventh .side-bar-1{
    flex-basis: 80%;
    display: flex;
    align-items: felx-start;
    justify-content: center;
    flex-direction: column;
    padding:25px;
    border-radius: 10px;
    border: 4px solid #29374E;
    margin: 15px 5px;
    color:white;
    background-color:#29374E ;
    border-left-color:#ff7f50;
  }
  #seventh .side-bar-1 p{
    font-size:1.3rem;
    line-height: 3rem;
  }

  #seventh .side-bar-1 h4{
    font-size:2rem;
    line-height: 3rem;
  }
  #seventh .side-bar-1 .side-bar-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    margin-top:-80px;
    padding-top:40px;
    padding-bottom:20px;
    padding-left:300px;
    font-size:1.5rem;
  }

  #FAQ .FAQ{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    min-width: 1500px;
    background-color: #4A576C;
    padding:100px 20px;
  }
  
  #FAQ h2{
    font-size:2.5rem;
    font-weight: bold;
    color:#ff7f50;
    margin-bottom:40px;
  }
  
  #FAQ P{
    font-size:1.5rem;
    line-height: 0.1rem;
    font-weight: 400px;
    color:white;
    line-height: 2rem;
    margin-top:20px;
  } 
  #FAQ .FAQ-items .FAQ-item-1 p{
    color:#00ffff;
    font-weight: bold;
  }
  #FAQ .FAQ-items .FAQ-item-2 p{
    font-weight:200px;
  }
  #feedback .feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
  }
  #FAQ .FAQ-items .FAQ-item-3 p{
    font-weight: bold;
  }
  #FAQ .FAQ-items .FAQ-item-4 p{
    font-weight: bold;
  }
  #FAQ .FAQ-items .FAQ-item-5 p{
    font-weight: bold;
  }
  
#feedback  h2{
    font-size:3rem;
    font-weight: bold;
    color:#00ffff;
    margin-bottom:40px;
  }

#feedback .feedback-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#feedback .feedback-items img{
    padding:20px 150px;
}

#feedback .feedback-bottom .feedback-bottom-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#feedback .feedback-bottom .feedback-bottom-name p{
  font-size:1.8rem;
  color:#ff7f50;
  text-align: center;
  padding-top:10px;
}

#feedback .feedback-bottom p{
  font-size:1.5rem;
  color:grey;
  line-height: 2rem;
  padding-top:10px;
}

#footer .footer {
    background-color: #181625;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
    padding-left:100px;
    padding-right:100px;
    line-height: 2rem;
  }
  
#footer a {
    display: flex;
    flex-direction: column;
    color:white;
  }
  
  #footer .footer-item ul {
    list-style: none;
  }
  
  #footer .footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181625;
    color:white;
    min-height: 10vh;
    padding-left:100px;
    padding-right:100px;
  }
  
  #footer .footer-bottom ul{
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  #footer .footer-bottom li{
    padding-right:10px;
  }
  